/*CSS for common blocks */
.block64{
	padding:16px 0px 16px 0;}
	@media screen and (min-width: 768px) {
	block64{
		padding:32px 0px 32px 0;}}
	@media screen and (min-width: 1200px) {
	.block64{
		padding:64px 0px 64px 0;}}
			
.p-intro-block-22-32
{
	padding:22px 0 32px 0;
}
/*Code Ends: CSS for common blocks */

/*CSS for Flexbox in Connect America Landing Page*/
.fixed-size-container {
  	max-width: 1400px;
 	margin: 32px auto 0 auto;
  	background-color: #FFF;
  	padding: 30px 0;
  	height:50px;
  	display: flex;
  	align-items: center;
  	justify-content: space-around;
   	-webkit-transition: all 0.5s ease;
    	-moz-transition: all 0.5s ease;
    	-o-transition: all 0.5s ease;
    	transition: all 0.5s ease;
}
.fixed-label
{
	text-align:center;
 }
.active-orange {
  	cursor: pointer;
  	width: 125px;
  	height: 75px;
  	background-color: #FF7500;
}
.cacm {
  	width: 100px;
  	height: 50px;
  	background-color: #004AD4; 
}
.cacm:hover {
  	cursor: pointer;
  	width: 125px;
  	height: 75px;
  	background-color: #FF7500;
}
.fhcs{
  	width: 100px;
  	height: 50px;
  	background-color: #0B52FF;
}
.fhcs:hover {
  	cursor: pointer;
   	width: 125px;
  	height: 75px;
  	background-color: #FF7500;
  	transition: all 0.5s ease;
}
.bls {
  	width: 100px;
  	height: 50px;
  	background-color: #006FF4;
}
.bls:hover {
  	cursor: pointer;
  	width: 125px;
  	height: 75px;
  	background-color: #FF7500;
  	transition: all 0.5s ease;
}
.acam {
  	width: 100px;
  	height: 50px;
  	background-color: #4292F4;
}
.acam:hover {
  	cursor: pointer;
   	width: 125px;
  	height: 75px;
  	background-color: #FF7500;
  	transition: all 0.5s ease;
}
.hcl {
  	width: 100px;
  	height: 50px;
  	background-color: #89BAF4;
}
.hcl:hover {
  	cursor: pointer;
  	width: 125px;
  	height: 75px;
  	background-color: #FF7500;
  	transition: all 0.5s ease;
}
.icc {
  	width: 100px;
  	height: 50px;
  	background-color: #A2CDFF;
}
.icc:hover {
  	cursor: pointer;
 	width: 125px;
  	height: 75px;
  	background-color: #FF7500;
  	transition: all 0.5s ease;
}
.akplan {
  	width: 100px;
  	height: 50px;
  	background-color: #CBE2FE;
}
.akplan:hover {
  	cursor: pointer;
  	width: 125px;
  	height: 75px;
  	background-color: #FF7500;
  	transition: all 0.5s ease;
}
.mobility {
  	width: 100px;
 	height: 50px;
  	background-color: #D9EBFF;
 
}
.mobility:hover {
  	cursor: pointer;
  	width: 125px;
  	height: 75px;
  	background-color: #FF7500;
  	transition: all 0.5s ease;
}
.rbe {
  	width: 100px;
  	height: 50px;
  	background-color: #E6F0FF;
}
.rbe:hover {
  	cursor: pointer;
   	width: 125px;
  	height: 75px;
  	background-color: #FF7500;
  	transition: all 0.5s ease;
}
.other {
  	width: 100px;
  	height: 50px;
  	background-color: #EBF3FC;
}
.other:hover {
  	cursor: pointer;
  	width: 125px;
  	height: 75px;
  	background-color: #FF7500;
  	transition: all 0.5s ease;
}
.fund-close {
	padding-top:32px;
	padding-right:100px;
	font-size:20px;
	flex:0.15;
	order:4;
    	float: right;
    	color: #616161;
    	cursor:pointer;
}
.fund-head{
	padding:64px 100px 0px 100px;
}
.fund-desc{
	padding:2px 100px 0px 100px;
	
}
.fundbox
{ 
	padding: 32px 100px 0px 100px;
	display:flex;
}
.total-fund{
	flex:2;
	order:1;
}
.service-fund{
	flex:1;
	order:2;
	text-align:left;
}
.state-fund{
	float:right;
	order:3;
	text-align:left;
}
.active-fund{
	flex:1;
	order:2;
}
.other-table{
	overflow-x: auto;
	flex:;
	order:2;
}
.other-fund-table{
	width: 100%;
   	 border-collapse: collapse;
}
.other-fund-h,.other-fund-d
 {
 	padding: 10px 10px 10px 0px;
    	border-bottom: 1px solid #ccc;
    	text-align: left;}
.other-fund-h:last-child ,.other-fund-d:last-child
 {
 	padding: 10px 0px 10px 0px;
    	border-bottom: 1px solid #ccc;
    	text-align: left;
}
/*Code ends: CSS for Flexbox in Connect America Landing Page*/
